# Environment variables
.env
**/.env
.env.*

# Cache and data
**/cache/
**/datastore/
*.cache
*.cache.json

# Secrets
**/secret*
**/secrets*
**/*config*.json

# Dependencies
node_modules/
**/node_modules/

# Build
dist/
build/
*.log

# Local environment variables
.env.local
